body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f4eb;
}

.title {
  text-align: center;
  background-color: pink;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.box {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  font-weight: 600;
}

.btn-text {
  margin-top: 40px; /* 텍스트 위쪽 여백 추가 */
  margin-bottom: 10px; /* 텍스트 아래 여백 추가 */
}

/* 한글교육 버튼 색상 */
.box:nth-child(1) .btn {
  background-color: #a791e6;
}

/* 영어교육 버튼 색상 */
.box:nth-child(2) .btn {
  background-color: #80c8d7;
}

/* 낱말퀴즈 버튼 색상 */
.box:nth-child(3) .btn {
  background-color: #94d892;
}

/* 국기퀴즈 버튼 색상 */
.box:nth-child(4) .btn {
  background-color: #f4d76e;
}

/* 메인 버튼 이미지 */
.btn img {
  width: 60%;
  height: auto;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-button {
  background-color: #f6f4eb; /* 배경색 설정 */
  border: none; /* 테두리 없애기 */
  border-radius: 50%; /* 원형으로 만들기 */
  width: 50px; /* 너비 설정 */
  height: 50px; /* 높이 설정 */
  font-size: 20px; /* 글자 크기 설정 */
  cursor: pointer; /* 커서 모양 변경 */
  position: fixed; /* 위치 고정 */
  top: 80px; /* 위쪽 여백 설정 */
  left: 20px; /* 왼쪽 여백 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
  font-size: 30px;
}

.back-button:hover {
  background-color: #e4e3dc; /* 호버 시 배경색 변경 */
}

/* ----------한글교육 페이지------------- */
#korean-education .title {
  background-color: #a791e6;
  margin-bottom: 20px;
}

#korean-education .category {
  display: flex;
  justify-content: center;
}

#korean-education .category-box:hover {
  background-color: #7f3faa; /* 호버 시 배경색 변경 */
}

#korean-education .category-box {
  background-color: #a791e6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px; /* 테두리 모서리 둥글게 */
  margin-right: 10px; /* 카테고리 사이의 간격 */
  width: 150px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to 100% of viewport height */
}

.image-container {
  position: relative; /* Ensure image container maintains its position */
}

.centered {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.page-button {
  background-color: #fff; /* 배경색 설정 */
  border: none; /* 테두리 없애기 */
  border-radius: 50%; /* 원형으로 만들기 */
  width: 50px; /* 너비 설정 */
  height: 50px; /* 높이 설정 */
  font-size: 20px; /* 글자 크기 설정 */
  cursor: pointer; /* 커서 모양 변경 */
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
  font-size: 30px;
}

.audio-button {
  background-color: #fff; /* 배경색 설정 */
  border: none; /* 테두리 없애기 */
  border-radius: 50%; /* 원형으로 만들기 */
  width: 50px; /* 너비 설정 */
  height: 50px; /* 높이 설정 */
  font-size: 20px; /* 글자 크기 설정 */
  cursor: pointer; /* 커서 모양 변경 */

  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
  font-size: 30px;
  display: flex;
}

/* ----------영어교육 페이지------------- */
#english-education .title {
  background-color: #80c8d7; /* 제목 배경색 설정 */
  margin-bottom: 20px;
}

#english-education .category {
  display: flex;
  justify-content: center;
}

#english-education .category-box:hover {
  background-color: #4d818d; /* 호버 시 배경색 변경 */
}

#english-education .category-box {
  background-color: #80c8d7;
  color: white;
  padding: 10px 20px;
  border-radius: 5px; /* 테두리 모서리 둥글게 */
  margin-right: 10px; /* 카테고리 사이의 간격 */
  width: 150px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

/* ----------낱말퀴즈 페이지------------- */
#word-quiz .title {
  background-color: #94d892;
}

#word-quiz .box .btn {
  background-color: #94d892;
}

#word-quiz .question {
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
  font-size: 30px; /* 텍스트의 글자 크기를 20px로 설정합니다. */
  font-weight: 600;
}

#word-quiz .content {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: center; /* 가로축 중앙 정렬 */
  height: 100vh; /* 뷰포트 높이의 100% */
  justify-content: center; /* 세로축 중앙 정렬 */
}

#word-quiz .image-container {
  margin-bottom: 10px; /* 이미지 아래에 여백 추가 */
}

#word-quiz .centered {
  display: block;
  margin: 0 auto; /* 이미지를 중앙에 위치 */
  max-width: 90%; /* 이미지의 최대 너비를 80%로 설정 */
  max-height: 90%; /* 이미지의 최대 높이를 80%로 설정 */
}

#word-quiz .buttons {
  display: flex;
  justify-content: center; /* 버튼들을 중앙에 정렬 */
  gap: 10px; /* 버튼 사이에 간격 추가 */
}

#word-quiz .button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  width: 200px;
  background-color: #94d892;
  border: none;
}

#word-quiz .button:hover {
  background-color: #669965; /* 호버 시 배경색 변경 */
}

/* ----------국기퀴즈 페이지------------- */
#country-quiz .title {
  background-color: #f4d76e;
}

#country-quiz .question {
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
  font-size: 30px; /* 텍스트의 글자 크기를 20px로 설정합니다. */
  font-weight: 700;
}

#country-quiz .content {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: center; /* 가로축 중앙 정렬 */
  height: 100vh; /* 뷰포트 높이의 100% */
  justify-content: center; /* 세로축 중앙 정렬 */
}

#country-quiz .image-container {
  margin-bottom: 10px; /* 이미지와 버튼 사이에 간격 추가 */
}

#country-quiz .centered {
  display: block;
  margin: 0 auto; /* 이미지를 중앙에 위치 */
  max-width: 120%; /* 이미지의 최대 너비를 80%로 설정 */
  max-height: 120%; /* 이미지의 최대 높이를 80%로 설정 */
}

#country-quiz .buttons {
  display: flex;
  justify-content: center; /* 버튼들을 중앙에 정렬 */
  gap: 10px; /* 버튼 사이에 간격 추가 */
}

#country-quiz .button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  width: 200px;
  background-color: #f4d76e;
  border: none;
}

#country-quiz .button:hover {
  background-color: #A49049; /* 호버 시 배경색 변경 */
}